<h3>Password change</h3>
<form action = "/changepassword" method ="post">
  <div class="form-group"
    <label for = "cpwd">Enter current password: </label>
    <input type="password" name="old_password" placeholder="Old password" id = "cpwd">
  </div>
  <div class="form-group"
    <label for="npwd">Enter new password (minimum 5 characters): </label>
    <input type="password" name="user[password]" placeholder="New password" id = "npwd">
  </div>
  <div class="form-group"
    <label for="npwd2">Confirm new password (passwords must match): </label>
    <input type="password" name="confirm_password" placeholder="Confirm new password" id="npwd2">
  </div>
  <input type="submit" name="submit" value="Change Password">
</form>
