<h3>Password change</h3>
<form action = "/changepassword" method ="post">
  <label>Enter current password: </label>
  <input type="password" name="old_password" placeholder="Old password"><br>
  <label>Enter new password (minimum 5 characters): </label>
  <input type="password" name="user[password]" placeholder="New password"><br>
  <label>Confirm new password (passwords must match): </label>
  <input type="password" name="confirm_password" placeholder="Confirm new password"><br>
  <input type="submit" name="submit" value="Change Password">
</form>
