<h3>Create a place</h3>
<form action = '/createplace' method = 'post'>
  <label>Place name: </label>
  <input type="text" name="place[name]"><br>
  <label>Place location: </label>
  <input type="text" name="place[location]"><br><br>
  <label>Description: </label><br>
  <textarea name="place[content]" rows="10" cols="60"></textarea><br>
  <input type="submit" name="submit" value="Create place">
</form>
