<h3>Create a place</h3>
<form action = '/createplace' method = 'post'>
  <div class="form-group">
    <label for="pn">Place name: </label>
    <input type="text" name="place[name]" id="pn">
  </div>
  <div class="form-group">
    <label for="pl">Place location: </label>
    <input type="text" name="place[location]" id="pl">
  </div>
  <div class="form-group"
    <label for="ta">Description: </label>
    <textarea class="form-control" name="place[content]" rows="10" cols="60" id="ta"></textarea>
  </div>
  <input type="submit" name="submit" value="Create place">
</form>
